:root{
    @font-face {
        font-family: 'Comic Relief';
        src: url('../fonts/ComicRelief-Regular.ttf');
    }

    $weatherBorder: 5px solid #D9D9D9 !global;
    $weatherWidth: 470px !global;
    $weatherRadius: 30px !global;
}

body{
    margin: 0;

    span {
        font-family: 'Comic Relief';
    }

    header{
        padding: 50px 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        background-color: #A8364B;

        .header__logo{
            display: flex;
            flex-flow: row nowrap;

            align-items: center;
            gap: 29px;

            img{
                width: 120px;
            }

            span{
                color: white;
                font-size: 36px;
            }
        }

        nav{
            display: flex;
            flex-flow: row nowrap;

            align-items: center;
            justify-content: space-between;
            gap: 39px;

            .city__search_div{
                display: flex;
                flex-direction: row nowrap;
                align-items: center;

                gap: 9px;

                border: #ED6D7E 3px solid;
                padding: 16px 19px;
                border-radius:50px;

                img{
                    width: 36px;
                    height: 36px;
                }:hover{
                    cursor: pointer;
                }

                .city__search{
                    border: none;
                    background-color: #A8364B;
                    border-radius: 30px;

                    color: white;
                    font-size: 20px;
                    caret-color: #ED6D7E;
                }::placeholder{
                    color: white;
                    font-family: 'Comic Relief';
                    font-size: 20px;
                }:focus{
                    outline: none;
                }
            }

            .nav__city{
                border: #ED6D7E 3px solid;
                border-radius: 27px;

                padding: 8px 33px;

                color: #ED6D7E;
            }
        }
    }

    main{
        padding: 30px 100px;

        display: flex;
        flex-flow: row nowrap;

        justify-content: space-between;

        .weatherStatus{
            width: $weatherWidth;
            height: 280px;

            padding: 40px;

            border: $weatherBorder;
            border-radius: $weatherRadius;

            display: flex;
            flex-flow: column nowrap;
            gap: 30px;

            .weatherStatus__inner{
                background-color: #D9D9D9;
                width: 270px;
                height: max-content;
                border-radius: 10px;

                display: inline-flex;
                align-items: center;

                p{
                    font-family: 'Comic Relief';
                    font-size: 28px;
                    padding-left: 8px;
                }
            }
        }

        .clothesRecomendations{
            width: $weatherWidth;
            height: 100%;
            
            border: $weatherBorder;
            border-radius: $weatherRadius;

            .clothesRecomendations__txt{
                text-align: center;
                padding: 30px;

                p{
                    font-family: 'Comic Relief';
                    max-width: 412px;
                    word-break: normal;
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 350px){
    body{
        header{
            padding: 10px 30px;

            flex-direction: column;
            align-items: center;
            justify-content: center;

            .header__logo{
                gap: 10px;

                img{
                    width: 70px;
                }

                span{
                    font-size: 22px;
                }


            }

            nav{
                flex-direction: column;
                gap: 25px;

                .city__search_div{
                    gap: 5px;
                    padding: 14px;
                    margin-inline: 10%;

                    img{
                        width: 30px;
                        height: 30px;
                    }

                    .city__search{
                        font-size: 18px;
                        font-family: 'Comic Relief';
                    }::placeholder{
                        font-size: 18px;
                        font-family: 'Comic Relief';
                    }
                }
            }
        }

        main{
            flex-flow: column;

            padding: 0;

            .weatherStatus{
                border: none;
                
                flex-flow: row;
                width: 270px;
                margin-inline: 20px;

                padding: 40px 30px;
                gap: 30px;

                .weatherStatus__inner{

                    width: 120px;
                    height: 145px;
                    background-color: #A8364B;
                    color: white;

                    padding: 13px 12px;
                    align-items: flex-start;
                    justify-content: center;

                    p{
                        font-size: 20px;
                        padding: 0;
                    }
                }
            }

            .clothesRecomendations{
                width: 310px;

                margin-inline: 30px;

                background-color: #A8364B;
                color: white;
                border: 3px solid #ED6D7E;

                .clothesRecomendations__txt{
                    padding: 23px 17px;
                    font-size: 16px;
                }
            }
        }
    }
}